body{
	background: #fefefe;
	background-image: url(images/fondo.png);
	background-size: cover;
	background-position: bottom;
}
.container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	margin: auto;
	width: 100vw;
	height: 100vh;
}
.container-game{
	display: grid;
	justify-content: center;
	grid-template-columns: 20% 40% 20%
}